@import url(style.css);

body {
    background-color: white
}

.pure-g [class*=pure-u] {
    font-family: dana;
}

.center-img {
    width: unset;
    height: 250px;
}

.big-title {
    font-size: 5em;
    font-weight: 900;
}

.little-title {
    font-size: 3em
}

.tiny-title {
    font-size: 2em
}

.center-g {
    margin: 0 auto;
    padding: 10px;
}

a {
    color: #b51518;
    text-decoration: none
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;

    border-top: 2px dashed;
}

.next {
    text-align: left;
}

.prev {
    text-align: right;
}

p {
    font-size: 1.3em;
}

.content {
    text-align: justify;
}

.pure-table {
    margin: auto;
}

.pure-table,
.pure-table * {
    text-align: center;
    vertical-align: middle;
}

blockquote {
    border-color: #b51518;
}

blockquote strong {
    color: #b51518;
    display: block;
    font-weight: bold;
}

blockquote * {
    font-weight: normal;
}

span.mord.text {
    font-family: dana;
}

ol li {
    list-style-type: persian;
    font-size: 1.3em;
}

.img-responsive {
    width: 100%;
    display: block;
    margin: auto
}

.img-responsive-third {
    width: 50%;
    display: block;
    margin: auto
}

form {
    border: black dashed;
    padding: 10px;
}

form input {
    display: block;
    float: right;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 42px;
    box-shadow: none;
}

form button {
    width: 100%;
    color: #FFFFFF;
    background-color: #333333;
    display: inline-block;
    white-space: nowrap;
    line-height: 42px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
}

.powered-by {
    text-align: center
}