:root {
    --width: 400px;
}

#menu,
.menu-link {
    transition: all 0.2s ease-out;
}

#layout.active #menu {
    right: var(--width);
    width: var(--width);
}

#layout.active .menu-link {
    right: var(--width);
}

#menu {
    margin-right: calc(-1 * var(--width));
    width: var(--width);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0px 0 6px 1px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scrollbar-width: 0;
}

#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: transparent;
}

.menu-link {
    position: fixed;
    display: inline-block;
    top: 0;
    right: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    z-index: 1000;
    width: 2em;
    padding: 2.1em 1.6em;
}

.menu-link:hover {
    background: #000;
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    position: absolute;
    margin-top: 0.6em;
    content: " ";
}

/* @media (min-width: 64em) {
    #menu {
        right: var(--width);
    }

    .menu-link {
        display: none;
    }
} */

.current {
    color: #b51518;
    cursor: default;
}

.pure-menu-link {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

.pure-menu-link:hover {
    background: unset;
}

.pure-menu-link:not(.current):hover {
    color: black;
}

.pure-menu-heading {
    color: black;
    font-weight: bold;
}

.pure-menu-item {
    margin-right: 20px;
}

.internalLink {
    border-right: 2px solid #b51518;
}